@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  display: flex;
  justify-content: space-between;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.left-links, 
.right-links {
  display: flex;
  gap: 20px;
}

img {
  width: 600px;
}
 
a {
  color: gray;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 15px;
}

li {
  list-style-type: none;

}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

.footer {
  background-color: gainsboro;
  display: flex;
  justify-content: space-between;
}